:root {
    font-size: 1vw;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100%;
    padding-top: 55em;
    padding-bottom: 55em;
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "red hat display", sans-serif;
}

.container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.first-section {
    border-radius: 15px 15px 0 0;
}

#avater {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.summary-heading {
    font-size: 4.5rem;
    font-weight: 900;
    margin-top: 1.5em;
    color: hsl(223, 47%, 23%);
}

.access {
    font-size: 3.5rem;
    font-weight: 700;
    width: 73%;
    margin-top: 0.5em;
    line-height: 1.8em;
    color: hsl(224, 23%, 55%);
    text-align: center;
}

.value {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.8em 0;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}

#music-icon {
    width: 15%;
    margin-left: 1em;
}

.salary {
    display: flex;
    flex-direction: column;
    margin-right: 5.2em;
}

#yearly-pay {
    font-size: 3.8rem;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}                                       

#price {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.8em;
    color: hsl(224, 23%, 55%);
    margin-right: 4em;
}

.change {
    font-size: 3.5rem;
    font-weight: 700;
    margin-right: 1em;
    color: hsl(245, 75%, 52%);
}

.continue-order {
    width: 80%;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: .8em;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 15px;
    box-shadow: 0px 8px 30px -6px hsl(245, 75%, 52%);
}

.cancel-order {
    font-size: 4rem;
    font-weight: 700;
    width: 50%;
    text-align: center;
    color: hsl(224, 23%, 55%);
    margin-bottom: 1.8em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2em;
    
}
.attribution a {
        color: hsl(228, 45%, 44%);
        
}


/* for desktop */

@media (min-width: 375px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
        background-size: 100% 40%;
        
    }
    
    .container {
        width: 30%;
    }
    
    .summary-heading {
        font-size: 2rem;
    }
    
    .access {
        font-size: 1rem;
        margin-top: -.2em;
        line-height: 1.7em;
        width: 77%;  
        
    }
    
    .salary {
        margin-right: 5.5em;
    }
    
    #music-icon {
        width: 5%;
    }
    
    #yearly-pay {
        font-size: 1.2rem;
    }
    
    #price {
        font-size: 1rem;
        margin-right: 5em;
    }
    
    .change {
        font-size: 1.2rem;
    }
    
    .continue-order {
        font-size: 1.2rem;
        padding: 1em 0;
    }
    
    .cancel-order  {
        font-size: 1.2rem;
    }
    
    .continue-order:hover {
        background-color: hsla(245, 75%, 52%, .7)
    }
    
    .change:hover {
        color: hsla(245, 75%, 52%, .7)
    }
}
